body {

margin :0;
padding:0;

}
.layout {
display: flex;
  margin-top: 0px; /* push below navbar */
  height: calc(92vh - 60px);
}
.left{
  position: fixed;
  top: 56px; /* below navbar */
  left: 0;
  bottom: 0;
  width: 225px;
  background-color: #e0e0e0;
  padding: 20px;
  overflow-y: auto;
  justify-content: center;

}
.right{
position: fixed;
  top: 56px; /* below navbar */
  right: 0;
  bottom: 0;
  width: 275px;
  background-color: #e0e0e0;
  padding: 20px;
  overflow-y: auto;


}
.heading{
  background-color: antiquewhite;
  height:50px;
}
.center{
  flex: 1;
  margin-top: 56px;
  margin-left: 225px;  /* space for left panel */
  margin-right: 275px; /* space for right panel */
  padding: 20px;
  height:0px;
  background-color: #f8f8f8;
  
}
.fa-regular{
  margin-left: 100px;
}

.fa-solid{
  margin-left: 25px;
padding-right: 50px;
}
.new{
  background-color: black;
  width:460px;
  height:300px;
  border-radius: 10px;
  margin-bottom: 20px;;
}
.new1{
  width:200px;
  height:150px;
  background-color: black;
  border-radius: 10px;
}
.new2{
  width:900px;
  height:200px;
  background-color: black;
  border-radius: 10px;
}
.new3{
  width:300px;
  height:200px;
  background-color: black;
  border-radius: 10px;
}