body {

margin :0;
padding:0;

}
.layout {
display: flex;
  margin-top: 68px; /* push below navbar */
  height: calc(100vh - 68px);
  
}
.left{
  position: fixed;
  top: 68px; /* below navbar */
  left: 0;
  bottom: 0;
  width: 235px;
  background-color:orange;
  /* padding: 20px; */
  overflow-y: auto;

}
.right{

   /* below navbar */
  right: 0;
  bottom: 0;
  background-color: #e0e0e0;
  padding: 20px;
  overflow-y: auto;
}
.heading{
  background-color: antiquewhite;
  height:50px;
  width:987px;
  padding-left: 15px;
  padding-top: 12px;
  margin-bottom: 18px;
}
.center{
  margin-left: 235px;  /* space for left panel */
  margin-right: 300px; /* space for right panel */
  height:0px;
  background-color: red;
  
}
 .bell{
  padding-right: 20px;
}

.settings{
  padding-right: 20px;
}
.user{
  padding-right: 50px;
} 
.new{
  background-color: black;
  width:470px;
  height:295px;
  border-radius: 10px;
  margin-bottom: 20px;;
}
.new1{
  margin-bottom:18px;
  width:227px;
  height:200px;
  background-color: black;
  border-radius: 10px;
}
.new2{
  margin-bottom:18px;
  width:955px;
  height:200px;
  background-color: black;
  border-radius: 10px;
}
.new3{
  margin-bottom:18px;
  width:265px;
  height:200px;
  background-color: black;
  border-radius: 10px;
}
